* {
  behavior: smooth scroll;
}
.navbar-nav {
  display: flex;
  margin-left: auto;
}
.carousel-inner {
  margin-top: 1rem;
  height: 90vh;
}
.bg-crimson {
  background-color: crimson;
}
/*.container {
  margin-top: 1.5rem;
}*/
.container h1 {
  text-align: center;
}
span {
  color: crimson;
}
.showcase {
  display: flex;
  margin-bottom: 1.5rem;*/
}
.row h1{font-size: 5rem;
    font-weight: 500;
margin: 1.5rem;
text-transform: uppercase;}
.service-item
{display: flex;
justify-content:space-around;
margin: .5rem;
padding: .5rem;}
p{display: grid;
text-align:justify;
text-align-last:center;}
.footer-container{background-color: #333;
color: white;
text-align: center;}
.icon a{display:flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center center;
width: 5vw;
height: 5vh;
margin: auto;
padding: 5px}
.service{display: flex;}